body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #e40613;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #fc0513;
}

p {
  max-width: 40rem;
}

.topbar-area {
  padding: 16px 0;
  z-index: 10;
}

.topbar-area a {
  color: #fff;
  padding-left: 16px;
}

.topbar-area-container.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.topbar-area-contact-info.container {
  display: flex;
  border-bottom: 1px #e40613 solid;
  line-height: 0;
  padding: 16px 0;
  margin: 0 16px;
  width: calc(100% - 32px);
  position: relative;
}

@media (min-width: 640px) {
  .topbar-area-contact-info.container {
    margin: 0 auto;
    width: 100%;
  }
}

.topbar-area-contact-info__socials {
  display: flex;
  flex: 1;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
}

.topbar-area-contact-info__socials .social-icon {
  font-size: 20px;
  padding: 0;
}

.topbar-area-contact-info__socials .social-icon i {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.topbar-area-contact-info__details {
  color: white;
  display: flex;
  align-items: center;
}

.topbar-area-contact-info__details a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.topbar-area-contact-info__socials .social-icon i:hover, .topbar-area-contact-info__socials .social-icon i:focus {
  color: #e40613;
}

.topbar-area-contact-info__details a:hover, .topbar-area-contact-info__details a:focus {
  color: #e40613;
}

/* CONTAINER START */

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* CONTAINER END */

/* https://unused-css.com/blog/css-only-hamburger-menu/ */

.topbar-area a.topbar-area-logo {
  flex: 1;
  padding-left: 0;
}

.topbar-area a.topbar-area-logo img {
  height: auto;
  width: 200px;
}

.hamburger-container {
  display: flex;
}

.hamburger-container .drawer a {
  visibility: hidden;
  transition: visibility 0.5s linear;
}

.hamburger-container .hamburger-checkbox:checked ~ .drawer a {
  visibility: visible;
}

.hamburger-checkbox {
  transition: transform 0.5s ease;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.hamburger-checkbox:checked ~ .drawer {
  transform: translateX(0%);
}

.hamburger-checkbox:checked ~ label .slice:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-checkbox:checked ~ label .slice:nth-child(2) {
  opacity: 0;
}

.hamburger-checkbox:checked ~ label .slice:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.hamburger-checkbox:checked ~ .drawer a {
  visibility: visible;
}

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  max-width: 100%;
  background: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  width: 100vw;
  z-index: 50;
  overflow-y: auto;
}

.drawer ul a {
  display: block;
  padding: 16px;
  visibility: hidden;
  transition: visibility 0.5s linear;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .drawer-top-items {
    display: none;
  }
}

.drawer-contact {
  display: flex;
  align-items: center;
  padding: 16px;
  width: calc(100% - 32px);
}

.drawer-contact div a {
  gap: 8px;
  display: inline-flex;
  align-items: center;
}

.drawer-contact div i {
  font-size: 20px;
}

.drawer-contact div:first-child {
  flex: 1;
}

.drawer-logo {
  padding: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
}

.drawer a:hover,
.drawer a:focus {
  color: #fc0513;
}

.hamburger {
  height: 24px;
  width: 32px;
  flex-direction: column;
  cursor: pointer;
  z-index: 60;
  right: 16px;
  position: fixed; // only when mobile menu is open
}

@media screen and (min-width: 1280px) {
  .drawer {
    background: transparent;
    position: static;
    padding-top: inherit;
    transform: none;
  }

  .hamburger,
  .hamburger-container input,
  .hamburger-container label {
    display: none;
  }

  .hamburger-container {
    margin-right: 0;
  }

  .drawer ul {
    display: flex;
  }

  .hamburger-container .drawer a {
    padding: inherit;
    visibility: visible;
    border: 1px transparent solid;
    margin-right: 32px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    padding: 8px 0;
  }

  .hamburger-container .drawer > ul > li:last-child > a {
    background: #e40613;
    margin-right: 0;
    padding: 8px 16px;
  }

  .hamburger-container .drawer > ul > li:last-child > a:hover,
  .hamburger-container .drawer > ul > li:last-child > a:focus {
    background: transparent;
    border: 1px white solid;
    color: white;
  }
}

/* Add styles for the submenu */
.drawer ul ul {
  display: none;
  background: black;
  position: static;
}

@media screen and (min-width: 1024px) {
  .drawer ul ul {
    position: fixed;
  }
}

.drawer li:hover > ul {
  display: block;
}

.drawer .submenu a {
  padding: 8px 32px;
  display: block;
}

@media screen and (min-width: 1024px) {
  .drawer .submenu a {
    margin: 0;
    padding: 8px 16px;
  }
}


.submenu a:hover,
.submenu a:focus {
  background: #e40613;
  border: 1px white solid;
  color: white;
}


.slice {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
  margin-top: 8px;
}

/* https://demo.voidcoders.com/htmldemo/rexfit/main-files/index.html */
/* https://css-tricks.com/css-only-carousel/ */
/* START SLIDER */

.slider {
  background: black;
  width: 100%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  top: -204px;
}

.slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides .slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  background: #999;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  box-sizing: border-box;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slides div::before {
  position: absolute;
  content: "";
  background-color: #101013;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}

#slide-1 {
  background-image: url("assets/img/hero-4.webp");
}

#slide-2 {
  background-image: url("assets/img/hero-13.webp");
}

#slide-3 {
  background-image: url("assets/img/hero-11.webp");
}

#slide-4 {
  background-image: url("assets/img/hero-5.webp");
}

.slider-controls {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .slider-controls {
    bottom: 116px;
  }
}

.slider-controls .control-link {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 2px white solid;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

/* .slider-controls a:active {
    top: 1px;
} */

.slider-controls .control-link:focus,
.slider-controls .control-link:hover, .slider-controls .control-link.active {
  background: white;
  border: 2px white solid;
}

/* END SLIDER */

main {
  flex: 1;
}

main h1,
main h2,
main h3,
main h5,
main h6 {
  color: #e40613;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}

main p {
  color: #403f4a;
}

section {
  margin-bottom: 48px;
}

section:first-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  section {
    margin-bottom: 96px;
  }
}

main section:nth-child(2) {
  margin-top: -122px;
}

@media screen and (min-width: 1024px) {
  main section:nth-child(2) {
    margin-top: -204px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 16px 0;
}

p {
  font-weight: 400;
  margin: 0 0 16px 0;
}

.intro .container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.intro .container h1 {
  margin-top: 0;
}

.intro-content {
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 0.35s;
  margin-bottom: 16px;
}

.intro-image-container {
  opacity: 0;
  animation: fadeInRight 1s ease forwards;
  animation-delay: 0.35s;
}

@media screen and (min-width: 768px) {
  .intro .container {
    flex-direction: row;
    gap: 32px;
  }

  .intro-content {
    flex: 0 0 calc(40% - 16px);
    margin-bottom: 0;
  }

  .intro-image-container {
    flex: 0 0 calc(60% - 16px);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro img {
  border: 16px #e40613 solid;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

a.button {
  border: 1px #e40613 solid;
  position: relative;
  font-size: 16px;
  letter-spacing: 0px;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  z-index: 1;
  text-decoration: none;
  transition: color 0.5s ease, border 0.5s ease;
}

a.button:hover {
  color: #e40613 !important;
  border: 1px #e40613 solid;
}

a.button-b:hover {
  color: white !important;
  border: 1px white solid;
}

a.button-c:hover {
  background: black;
  color: white !important;
  border: 1px black solid;
}

a.button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

a.button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

a.button::before,
a.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

a.button::before {
  background-color: #e40613;
}

a.button-c::before {
  background-color: transparent;
  color: white !important;
  border: 1px white solid;
}

a.button::after {
  opacity: 0;
  border: 1px;
}

.featured-services {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.featured-services__row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .featured-services__row {
    flex-direction: row;
  }
}

.featured-services__row:first-child {
  flex-direction: column;
}

.featured-services__image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.features-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  top: -156px;
  position: relative;
}

.features-column {
  flex: 1;
  background: white;
  border: 1px solid #f1f1f1;
  padding: 32px 16px;
  margin-bottom: 16px;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  text-decoration: none;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.15s;
}

@media screen and (min-width: 1024px) {
  .features-column {
    margin-bottom: 0;
  }
}

.features-column i {
  font-size: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.features-column:nth-child(1),
.features-column:hover {
  background-color: #e40613;
  border-color: #e40613;
}

.features-column:hover h2,
.features-column:hover p,
.features-column:hover i,
.features-column:nth-child(1) h2,
.features-column:nth-child(1) p,
.features-column:nth-child(1) {
  color: white;
}

.features-column span.text-underline {
  text-decoration: underline;
}

.features-column h2 {
  font-size: 24px;
  color: black;
  margin-top: 16px;
}

@media screen and (min-width: 1024px) {
  .features-area {
    flex-direction: row;
    top: -300px;
    box-shadow: 0px 0px 55px 0px rgba(17, 22, 29, 0.1);
  }

  .featured-column {
    margin-bottom: 0;
  }
}

.featured-services__text-container {
  position: relative;
  overflow: hidden;
  display: flex;
}

.featured-services__text {
  position: absolute;
  left: -100%;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  background-color: rgba(228, 6, 19, 0.8);
  transition: 0.5s ease;
  overflow: hidden;
  padding: 16px;
}

.featured-services__text-container:hover .featured-services__text {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featured-services__text h3 {
    font-size: 24px;
}

.featured-services__text h3,
.featured-services__text p {
  color: white;
}

.get-in-touch-area {
  background: #e40613;
  padding: 128px 0;
  background-image: url("assets/img/hero-10.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.get-in-touch-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(
    45deg,
    white 0%,
    #333 0%,
    #8c0c0c 0%,
    black 100%
  );
  background-image: -webkit-linear-gradient(
    45deg,
    white 0%,
    #333 0%,
    #8c0c0c 0%,
    black 100%
  );
  background-image: -ms-linear-gradient(
    45deg,
    white 0%,
    #333 0%,
    #8c0c0c 0%,
    black 100%
  );
  opacity: 0.8;
}

.get-in-touch-area__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.get-in-touch-area h2,
.get-in-touch-area p {
  color: white;
  position: relative;
}

.get-in-touch-area h2 {
  margin-top: 0;
}

.get-in-touch-area a {
  align-self: flex-start;
}

.courses-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.courses-area div {
  flex: 1;
}

@media screen and (min-width: 1024px) {
  .courses-area {
    flex-direction: row;
  }
}

.outro .container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.outro .container h1 {
  margin-top: 0;
}

.outro-content {
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 0.35s;
  margin-top: 16px;
}

.outro-image-container {
  opacity: 0;
  animation: fadeInRight 1s ease forwards;
  animation-delay: 0.35s;
}

@media screen and (min-width: 768px) {
  .outro .container {
    flex-direction: row;
    gap: 32px;
  }

  .outro-content {
    flex: 0 0 calc(60% - 16px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .outro-image-container {
    flex: 0 0 calc(40% - 16px);
  }
}

/* Fighters Area START */

.fighters-area {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fighters-area__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fighters-area-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

@media screen and (min-width: 640px) {
  .fighters-area-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (min-width: 768px) {
  .fighters-area-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .fighters-area-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.fighter {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f1f0f0;
}

@media screen and (max-width: 768px) {
  .fighter {
    display: none;
  }

  .fighter:nth-child(-n+2) {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .fighter:nth-child(-n+3) {
    display: flex;
  }
}

a.fighter__info-social-icon i {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a.fighter__info-social-icon i:hover, a.fighter__info-social-icon i:focus {
  color: #e40613;
}

.fighter__image {
  border-bottom: 1px solid #ddd;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}

.fighter__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fighter__info-full-name {
  font-weight: bold;
  margin: 0 0 5px;
}

.fighter__info-title {
  color: #555;
  margin: 0;
}

.fighter__social-icons {
  margin-top: 10px;
}

.fighter__social-icons i {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.fighters-area__button {
  display: inline-flex;
  align-self: center;
  margin-top: 16px;
}

/* Fighters Area END */

/* News Area START */

/* News Area START */

.news-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.news-area__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .news-area__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.news-area__item {
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.news-area__image {
  overflow: hidden;
  display: flex;
  position: relative;
}

.news-area__date {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: #e40613;
  color: #fff;
  padding: 8px;
  z-index: 10;
}

.news-area__image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.news-area__image img:hover {
  transform: scale(1.1);
}

.news-area__title {
  font-size: 24px;
  margin: 16px;
  line-height: 1;
}

.news-area__title a {
  text-decoration: none;
  color: black;
}

.news-area__title a:hover, .news-area__title:focus {
  color: #e40613;
}

.news-area__description {
  margin: 0 16px 16px 16px;
}

/* News Area END */

.outro img {
  height: auto;
  width: 100%;
  border: 16px #e40613 solid;
  box-sizing: border-box;
}

footer {
  background-color: #2e2e2e;
  color: white;
}

footer a {
  color: white;
}

footer h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.footer-widget-area {
  padding: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-widget-area {
    flex-direction: row;
  }
}

.footer-copyright {
  background: #161616;
  padding: 16px;
  text-align: center;
}

.footer-column {
  flex: 1;
  margin: 0 8px 48px 8px;
}

.footer-column h4 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .footer-column {
    margin-bottom: 0;
  }

  .footer-column:nth-child(1) {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .footer-column:nth-child(2) {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .footer-column:nth-child(3) {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .footer-column:nth-child(4) {
    flex: 0 0 24%;
    max-width: 24%;
  }
}

.footer-menu {
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
}

.opening-hours {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.day, .time {
  margin-bottom: 4px;
}

address {
  font-style: normal;
}

.social-icon-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon {
  font-size: 32px;
  text-decoration: none;
}

.back-to-top {
  opacity: 1;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #e40613;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.back-to-top.hide {
  opacity: 0;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: black;
  color: white;
}

:target .back-to-top {
  display: block;
}

:target #top {
  top: 0;
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
