body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: darkgoldenrod;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding-left: 16px;
}

main {
    background-color: aquamarine;
    flex: 1;
    padding: 16px;
}

/* https://unused-css.com/blog/css-only-hamburger-menu/ */
.hamburger-container {
    display: flex;
    margin-right: 16px;
}

.hamburger-container .drawer a {
    visibility: hidden;
    transition: visibility 0.5s linear;
}
  
.hamburger-container .hamburger-checkbox:checked ~ .drawer a {
    visibility: visible;
}

.hamburger-checkbox {
    transition: transform 0.5s ease;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.hamburger-checkbox:checked ~ .drawer {
    transform: translateX(0%);
}

.hamburger-checkbox:checked ~ label .slice:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-checkbox:checked ~ label .slice:nth-child(2) {
    opacity: 0;
}

.hamburger-checkbox:checked ~ label .slice:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.hamburger-checkbox:checked ~ .drawer a {
    visibility: visible;
}

.drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: max-content;
    max-width: 100%;
    padding: 22px;
    background: black;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .drawer {
      width: 30vw;
    }
}

.drawer ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
}

.drawer a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
    transition: visibility 0.5s linear;
}

.drawer a:hover, .drawer a:focus {
    background-color: yellow;
}

.hamburger {
    height: 24px;
    width: 32px;
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
}
  
.slice {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
    margin-top: 8px;
}

/* https://demo.voidcoders.com/htmldemo/rexfit/main-files/index.html */
/* https://css-tricks.com/css-only-carousel/ */
/* START SLIDER */

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
} */
  
.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 50px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    box-sizing: border-box;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider-controls a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: red;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
  
.slider-controls a:active {
    top: 1px;
}r

.slider-controls a:focus, .slider-controls a:hover {
    background: #000;
}

/* END SLIDER */

footer {
    background-color: blueviolet;
    padding: 16px;
}